body{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 70px;
    color:#fff;
    font-weight: 700;
}
h2{
    font-size: 50px;
}
.header-container{
    height: 100vh;
    background-image: url(img/home-banner-01.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
}
.header-description{
    color:#fff;
    width: 600px;
    margin-left: 80px;
}
.zakat-button{
    background-image: linear-gradient(to right, #c75562, #f7334a);
    color:#fff;
    border: none;
    padding: 15px 40px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.feature-area{
    padding:20px 80px;
    background-color: #eff6ff;
    color:#000;
}
.feature-inner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:50px;
}
.feature-des{
    width: 400px;
}
.feature-des:last-child{
    margin-left:150px;
}
.feature-img img{
    border-radius: 10px;
    box-shadow: 5px 5px 30px #6e6e6e;
}

.section-des{
    text-align: center;
    width: 700px;
    margin:0 auto;
}
.donation-package{
    display: flex;
    justify-content: center;
    padding:30px 80px;
}
.package-img img{
    width: 60px;
    height: auto;
    margin:20px;

}
.package-single{
    display: flex;
    justify-content: center;
    align-items: bottom;
    width: 450px;
    background-color:antiquewhite ;
    border-radius: 10px;
}
.package-single:first-child{
    margin-right: 40px;
}
.sadakah-package{
    display: flex;
    justify-content: center;
    margin:30px 0px;
}
.sadakah-single{
    width: 350px;
    margin-right: 20px;
    background-color: beige;
    border-radius: 10px;
    box-shadow: 3px 3px 20px #6e6e6e;
}
.sadakah-single img{
    border-radius: 10px 10px 0px 0px;
}
.sadakah-single h3, p{
    padding-left:10px;
}
.footer-area{
    background-color:#000;
    color:#fff;
    padding:20px 0px;
    text-align: center;
}